 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Experienced Admissions Assistant with a demonstrated history of working in the higher education industry. Skilled in Microsoft Excel, Customer Service, Microsoft Word, Public Speaking, and Microsoft Office.</p>
                </div>
                <div class="col-lg-4">
                    <p>Strong education professional with a Bachelor of Science - BS focused in Clinical Sociology with a double minor in Ethics and Leadership and Theology and Religious Studies from Rosemont College. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="files/haley-thompson-resume.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> View Resume
                    </a>
                </div>
            </div>
        </div>
    </section>
